
body{
    padding: 0;
    margin: 0;
}
#page{
    background-color: lightgray;
    width: 100%;
    text-align: center;
    min-height: 753px;
    padding: 2%;
    box-sizing: border-box;
}

#appDiv{
    display: inline-block;
    border: 1px solid black;
    width: 50%;
    min-height: 500px;
    box-sizing: border-box;
}

#addNewTaskSection{
    width: 100%;
    padding: 0.5%;
    box-sizing: border-box;
    background-color: chartreuse;
    height: 50px;

    border: 1px solid black;
    border-radius: 5px;

}

.inputField{
    /* float: left; */
    height: 90%;
    box-sizing: border-box;
    padding: 1%;
    font-size: medium;
    border-radius: 8px;
    width: 60%;
}

#addNewTaskButton{
    width: 20px;
    height: 20px;
    position: relative;
    margin-left: 10px;
    top: 5px;
    cursor: pointer;
    /* float: right; */
}

.tasksSection{
    text-align: center;
    background-color: rgba(135, 206, 250, 0.623);
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px 0;
}


p{
    display: inline-block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5em;
}

#notDoneTasks-section p{
    text-decoration: none;
}

#doneTasks-section p{
    text-decoration: line-through;
}

#notDoneList, #doneList{
    list-style-type: none;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    padding: 0;
}

.listItem{
    /* margin: 5px 10px; */
    padding: 0;
    line-height: 0.5em;
    background-color: rgba(202, 85, 85, 0.514);
    border: 0;
    display: inline-block;
    text-align: left;
    width: 95%;
    margin: 2px 0;
    padding-left: 5px;
    border-radius: 10px;
    position: relative;
}


.deleteImage{
    cursor: pointer;
    width: 20px;
    
    
    position: absolute;
    right: 3%;
    top: 0;
    bottom: 0;
    margin: auto;
}

.ItemDoneCheckBox{
    position: absolute;
    right: 7%;
    width: 20px;
    height: 28px;
    top: 0;
    bottom: 0;
    margin: auto;
}

#tmplateNotDoneListItem, #tmplateDoneListItem{
    display: none;
}


#searchField{
    width: 25%;
}